body {
    background-color: #eee;
    font-family: Helvetica , Arial, san-serif;
}

a{
    text-decoration: rgb(164, 50, 137);
    color: rgb(102, 0, 255);
}

h1 ,h2 ,h3{
margin: 0;
}

#container{
    background-color: #66ccff;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

#header{
    background-color:#66ccff ;
    color:white;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;

}

#nav{
     Width: 180px;
    float: left;
    
}
#nav ul{
    list-style-type:none;
    padding: 10px;
}

#nav.selected {
    font-weight: bold;
    Font-size: 10px;
}

#main{
    width: 600px;
    float: right;
}
#footer {
clear: both;
padding: 10px;
background-color: #999999;
color: white;
text-align: right;
}